.game-container {
    .game-message {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(238, 228, 218, 0);
        z-index: 100;
        text-align: center;
        -webkit-animation: fade-in 800ms ease 1200ms;
        -moz-animation: fade-in 800ms ease 1200ms;
        animation: fade-in 800ms ease 1200ms;
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        animation-fill-mode: both;

        p {
            font-size: 60px;
            font-weight: bold;
            height: 60px;
            line-height: 60px;
            margin-top: 222px;
        }

        .lower {
            display: block;
            margin-top: 59px;
        }

        a {
            display: inline-block;
            background: #8f7a66;
            border-radius: 3px;
            padding: 0 20px;
            text-decoration: none;
            color: #f9f6f2;
            height: 40px;
            line-height: 42px;
            margin-left: 9px;
        }

        a.keep-playing-button {
            display: none;
        }

    }

    .game-message.game-won {
        background: rgba(237, 194, 46, 0.5);
        color: #f9f6f2;

        a.keep-playing-button{
            display: inline-block;
        }

        display: block;
    }

    .game-message.game-over {
        display: block;
    }
}