@media screen and (max-width: 520px) {
    .tile.tile-128 .tile-inner {
        font-size: 25px;
    }
}

@media screen and (max-width: 520px) {
    .tile.tile-256 .tile-inner {
        font-size: 25px;
    }
}

@media screen and (max-width: 520px) {
    .tile.tile-512 .tile-inner {
        font-size: 25px;
    }
}

@media screen and (max-width: 520px) {
    .tile.tile-1024 .tile-inner {
        font-size: 15px;
    }
}

@media screen and (max-width: 520px) {
    .tile.tile-super .tile-inner {
        font-size: 10px;
    }
}

@media screen and (max-width: 520px) {

    html,
    body {
        font-size: 15px;
    }

    body {
        margin: 20px 0;
        padding: 0 20px;
    }

    h1.title {
        font-size: 27px;
        margin-top: 15px;
    }

    .container {
        width: 280px;
        margin: 0 auto;
    }

    .right-container {
        width: 100px;
        display: inline-block;
        float: right;
        margin: 0 auto;
    }

    .left-container {
        width: 180px;
        display: inline-block;
        float: left;
    }

    .score-container,
    .best-container {
        margin-top: 0;
        padding: 15px 10px;
        min-width: 40px;
    }

    .heading {
        margin-bottom: 10px;
    }

    .game-intro {
        width: 55%;
        display: block;
        box-sizing: border-box;
        line-height: 1.65;
    }

    .restart-button {
        width: 42%;
        padding: 0;
        display: block;
        box-sizing: border-box;
        margin-top: 2px;
    }

    .game-container {
        margin-top: 17px;
        position: relative;
        padding: 10px;
        cursor: default;
        -webkit-touch-callout: none;
        -ms-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -ms-touch-action: none;
        touch-action: none;
        background: #33ccff;
        border-radius: 6px;
        width: 280px;
        height: 280px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .game-container .game-message {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(238, 228, 218, 0.5);
        z-index: 100;
        text-align: center;
        -webkit-animation: fade-in 800ms ease 1200ms;
        -moz-animation: fade-in 800ms ease 1200ms;
        animation: fade-in 800ms ease 1200ms;
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .game-container .game-message p {
        font-size: 60px;
        font-weight: bold;
        height: 60px;
        line-height: 60px;
        margin-top: 222px;
    }

    .game-container .game-message .lower {
        display: block;
        margin-top: 59px;
    }

    .game-container .game-message a {
        display: inline-block;
        background: #8f7a66;
        border-radius: 3px;
        padding: 0 20px;
        text-decoration: none;
        color: #f9f6f2;
        height: 40px;
        line-height: 42px;
        margin-left: 9px;
    }

    .game-container .game-message a.keep-playing-button {
        display: none;
    }

    .game-container .game-message.game-won {
        background: rgba(237, 194, 46, 0.5);
        color: #f9f6f2;
    }

    .game-container .game-message.game-won a.keep-playing-button {
        display: inline-block;
    }

    .game-container .game-message.game-won,
    .game-container .game-message.game-over {
        display: block;
    }

    .grid-container {
        position: absolute;
        z-index: 1;
    }

    .grid-row {
        margin-bottom: 10px;
    }

    .grid-row:last-child {
        margin-bottom: 0;
    }

    .grid-row:after {
        content: "";
        display: block;
        clear: both;
    }

    .grid-cell {
        width: 57.5px;
        height: 57.5px;
        margin-right: 10px;
        float: left;
        border-radius: 3px;
        background: rgba(238, 228, 218, 0.35);
    }

    .grid-cell:last-child {
        margin-right: 0;
    }

    .tile-container {
        position: absolute;
        z-index: 2;
    }

    .tile,
    .tile .tile-inner {
        width: 58px;
        height: 58px;
        line-height: 58px;
    }

    .tile.tile-position-1-1 {
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    .tile.tile-position-1-2 {
        -webkit-transform: translate(0px, 67px);
        -moz-transform: translate(0px, 67px);
        transform: translate(0px, 67px);
    }

    .tile.tile-position-1-3 {
        -webkit-transform: translate(0px, 135px);
        -moz-transform: translate(0px, 135px);
        transform: translate(0px, 135px);
    }

    .tile.tile-position-1-4 {
        -webkit-transform: translate(0px, 202px);
        -moz-transform: translate(0px, 202px);
        transform: translate(0px, 202px);
    }

    .tile.tile-position-2-1 {
        -webkit-transform: translate(67px, 0px);
        -moz-transform: translate(67px, 0px);
        transform: translate(67px, 0px);
    }

    .tile.tile-position-2-2 {
        -webkit-transform: translate(67px, 67px);
        -moz-transform: translate(67px, 67px);
        transform: translate(67px, 67px);
    }

    .tile.tile-position-2-3 {
        -webkit-transform: translate(67px, 135px);
        -moz-transform: translate(67px, 135px);
        transform: translate(67px, 135px);
    }

    .tile.tile-position-2-4 {
        -webkit-transform: translate(67px, 202px);
        -moz-transform: translate(67px, 202px);
        transform: translate(67px, 202px);
    }

    .tile.tile-position-3-1 {
        -webkit-transform: translate(135px, 0px);
        -moz-transform: translate(135px, 0px);
        transform: translate(135px, 0px);
    }

    .tile.tile-position-3-2 {
        -webkit-transform: translate(135px, 67px);
        -moz-transform: translate(135px, 67px);
        transform: translate(135px, 67px);
    }

    .tile.tile-position-3-3 {
        -webkit-transform: translate(135px, 135px);
        -moz-transform: translate(135px, 135px);
        transform: translate(135px, 135px);
    }

    .tile.tile-position-3-4 {
        -webkit-transform: translate(135px, 202px);
        -moz-transform: translate(135px, 202px);
        transform: translate(135px, 202px);
    }

    .tile.tile-position-4-1 {
        -webkit-transform: translate(202px, 0px);
        -moz-transform: translate(202px, 0px);
        transform: translate(202px, 0px);
    }

    .tile.tile-position-4-2 {
        -webkit-transform: translate(202px, 67px);
        -moz-transform: translate(202px, 67px);
        transform: translate(202px, 67px);
    }

    .tile.tile-position-4-3 {
        -webkit-transform: translate(202px, 135px);
        -moz-transform: translate(202px, 135px);
        transform: translate(202px, 135px);
    }

    .tile.tile-position-4-4 {
        -webkit-transform: translate(202px, 202px);
        -moz-transform: translate(202px, 202px);
        transform: translate(202px, 202px);
    }

    .tile .tile-inner {
        font-size: 35px;
    }

    .game-message p {
        font-size: 30px !important;
        height: 30px !important;
        line-height: 30px !important;
        margin-top: 90px !important;
    }

    .game-message .lower {
        margin-top: 30px !important;
    }
}

@media screen and (max-width: 520px) {

    html,
    body {
        font-size: 15px;
    }

    body {
        margin: 20px 0;
        padding: 0 20px;
    }

    h1.title {
        font-size: 27px;
        margin-top: 15px;
    }

    .container {
        width: 280px;
        margin: 0 auto;
    }

    .right-container {
        width: 100px;
        display: inline-block;
        float: right;
        margin: 0 auto;
    }

    .left-container {
        width: 180px;
        display: inline-block;
        float: left;
    }

    .score-container,
    .best-container {
        margin-top: 0;
        padding: 15px 10px;
        min-width: 40px;
    }

    .heading {
        margin-bottom: 10px;
    }

    .game-intro {
        width: 55%;
        display: block;
        box-sizing: border-box;
        line-height: 1.65;
    }

    .restart-button {
        width: 42%;
        padding: 0;
        display: block;
        box-sizing: border-box;
        margin-top: 2px;
    }

    .game-container {
        margin-top: 17px;
        position: relative;
        padding: 10px;
        cursor: default;
        -webkit-touch-callout: none;
        -ms-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -ms-touch-action: none;
        touch-action: none;
        background: #33ccff;
        border-radius: 6px;
        width: 280px;
        height: 280px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .game-container .game-message {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(238, 228, 218, 0.5);
        z-index: 100;
        text-align: center;
        -webkit-animation: fade-in 800ms ease 1200ms;
        -moz-animation: fade-in 800ms ease 1200ms;
        animation: fade-in 800ms ease 1200ms;
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .game-container .game-message p {
        font-size: 60px;
        font-weight: bold;
        height: 60px;
        line-height: 60px;
        margin-top: 222px;
    }

    .game-container .game-message .lower {
        display: block;
        margin-top: 59px;
    }

    .game-container .game-message a {
        display: inline-block;
        background: #8f7a66;
        border-radius: 3px;
        padding: 0 20px;
        text-decoration: none;
        color: #f9f6f2;
        height: 40px;
        line-height: 42px;
        margin-left: 9px;
    }

    .game-container .game-message a.keep-playing-button {
        display: none;
    }

    .game-container .game-message.game-won {
        background: rgba(237, 194, 46, 0.5);
        color: #f9f6f2;
    }

    .game-container .game-message.game-won a.keep-playing-button {
        display: inline-block;
    }

    .game-container .game-message.game-won,
    .game-container .game-message.game-over {
        display: block;
    }

    .grid-container {
        position: absolute;
        z-index: 1;
    }

    .grid-row {
        margin-bottom: 10px;
    }

    .grid-row:last-child {
        margin-bottom: 0;
    }

    .grid-row:after {
        content: "";
        display: block;
        clear: both;
    }

    .grid-cell {
        width: 57.5px;
        height: 57.5px;
        margin-right: 10px;
        float: left;
        border-radius: 3px;
        background: rgba(238, 228, 218, 0.35);
    }

    .grid-cell:last-child {
        margin-right: 0;
    }

    .tile-container {
        position: absolute;
        z-index: 2;
    }

    .tile,
    .tile .tile-inner {
        width: 58px;
        height: 58px;
        line-height: 58px;
    }

    .tile.tile-position-1-1 {
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    .tile.tile-position-1-2 {
        -webkit-transform: translate(0px, 67px);
        -moz-transform: translate(0px, 67px);
        transform: translate(0px, 67px);
    }

    .tile.tile-position-1-3 {
        -webkit-transform: translate(0px, 135px);
        -moz-transform: translate(0px, 135px);
        transform: translate(0px, 135px);
    }

    .tile.tile-position-1-4 {
        -webkit-transform: translate(0px, 202px);
        -moz-transform: translate(0px, 202px);
        transform: translate(0px, 202px);
    }

    .tile.tile-position-2-1 {
        -webkit-transform: translate(67px, 0px);
        -moz-transform: translate(67px, 0px);
        transform: translate(67px, 0px);
    }

    .tile.tile-position-2-2 {
        -webkit-transform: translate(67px, 67px);
        -moz-transform: translate(67px, 67px);
        transform: translate(67px, 67px);
    }

    .tile.tile-position-2-3 {
        -webkit-transform: translate(67px, 135px);
        -moz-transform: translate(67px, 135px);
        transform: translate(67px, 135px);
    }

    .tile.tile-position-2-4 {
        -webkit-transform: translate(67px, 202px);
        -moz-transform: translate(67px, 202px);
        transform: translate(67px, 202px);
    }

    .tile.tile-position-3-1 {
        -webkit-transform: translate(135px, 0px);
        -moz-transform: translate(135px, 0px);
        transform: translate(135px, 0px);
    }

    .tile.tile-position-3-2 {
        -webkit-transform: translate(135px, 67px);
        -moz-transform: translate(135px, 67px);
        transform: translate(135px, 67px);
    }

    .tile.tile-position-3-3 {
        -webkit-transform: translate(135px, 135px);
        -moz-transform: translate(135px, 135px);
        transform: translate(135px, 135px);
    }

    .tile.tile-position-3-4 {
        -webkit-transform: translate(135px, 202px);
        -moz-transform: translate(135px, 202px);
        transform: translate(135px, 202px);
    }

    .tile.tile-position-4-1 {
        -webkit-transform: translate(202px, 0px);
        -moz-transform: translate(202px, 0px);
        transform: translate(202px, 0px);
    }

    .tile.tile-position-4-2 {
        -webkit-transform: translate(202px, 67px);
        -moz-transform: translate(202px, 67px);
        transform: translate(202px, 67px);
    }

    .tile.tile-position-4-3 {
        -webkit-transform: translate(202px, 135px);
        -moz-transform: translate(202px, 135px);
        transform: translate(202px, 135px);
    }

    .tile.tile-position-4-4 {
        -webkit-transform: translate(202px, 202px);
        -moz-transform: translate(202px, 202px);
        transform: translate(202px, 202px);
    }

    .tile .tile-inner {
        font-size: 35px;
    }

    .game-message p {
        font-size: 30px !important;
        height: 30px !important;
        line-height: 30px !important;
        margin-top: 90px !important;
    }

    .game-message .lower {
        margin-top: 30px !important;
    }
}

@media screen and (max-width: 520px) {
    .tile.tile-2048 .tile-inner {
        font-size: 15px;
    }
}